<div class="container-fulied">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div>
                <form >
                    <div class="border border-dark p-2 "><p class="d-inline">Massaging</p> <strong class=" float-right">a</strong> <strong class="float-right">b</strong> </div>
                    <div class="border">
                    <input type="search" placeholder="search messages" class="border border-0 w-90 p-1">
                    <span class="w-3 p-md-10">h</span>
                </div>
                    <img src="/assets/images//IN-img/mahesh.jpg" alt=""class="w-25 rounded-circle ">

                    </form>
                </div>
            </div>
            <div class="col-8">

                <img src="/assets/images//IN-img/mahesh.jpg" alt=""class=" rounded-circle w-25 ">
            </div>
        </div>
    </div>
</div>
