<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<body class="bg-myowncolor">
<div class="container-fluid bg-myowncolor">
    <div class="container">
        <div class="row">
        <div class="col-12 ss">
          <div class="all">
                <form action="" class="card">
                 <div class="card-body text-center">
                    <div class="card-header mb-3"><span >LOGIN</span></div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" id="usr" name="username">
                      </div>
                         <div class="input-group mb-3">
                           <div class="input-group-prepend">
                              <span class="input-group-text">&</span>
                           </div>
                             <input type="text" class="form-control" placeholder="Enter your password" id="usr" name="username">
                         </div>
                        <button class="btn btn-success mt-3 mb-3 pl-5 pr-5 ">LOGIN</button>
                  <div class="row mb-3">
                      <div class="col">
                          <div><i class="fab fa-facebook-square s"></i></div>
                      </div>
                      <div class="col">
                          <div><i class="fab fa-instagram s1"></i></div>
                      </div>
                      <div class="col">
                          <div><i class="fab fa-twitter-square s2"></i></div>
                      </div>
                      
                  </div>
            </div>
                 </form>
          </div>
         </div>
        </div>
    </div>
</div>
</body>