.all{
    margin: 25px 280px 100px 251px;
    position: initial;
}
.ss{
    position: relative;
}
.s{
    font-size: 30px;
    float: right;
    color: darkblue;
}
.s1{
    font-size: 30px;
    color: palevioletred;
}
.s2{
    font-size: 30px;
    float: left;
    color: skyblue;
}