<nav class="main-navigation bg-header">
  <div class="navbar-header animated fadeInUp">
      <a class="navbar-brand" href="#">olx</a>
  </div>
  <ul class="nav-list">
      <li class="nav-list-item">
          <a routerLink="home" routerLinkActive="router-link-active"  class="nav-link">Home</a>
      </li>
      <li class="nav-list-item">
          <a routerLink="inbox" class="nav-link">inbox</a>
      </li>
      <li class="nav-list-item">
          <a routerLink="myads" class="nav-link">myAds</a>
      </li>
      <li class="nav-list-item">
          <a routerLink="register" class="nav-link">register</a>
      </li>
      <li class="nav-list-item">
          <a routerLink="login" class="nav-link">login</a>
      </li>
      <li class="nav-list-item">
        <a routerLink="logout" class="nav-link">logout</a>
    </li>
  </ul>

</nav>