<div class="container-fluid bg-myowncolor">
    <div class="container">
        <div class="row">
            <div class="col-12 bg-notfication">
                <h1>Fresh Recommendations</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <ul class="card col-3 ss1" *ngFor="let i of products">
                        <li><a ><img src="{{i.image}}" class="ss"  routerLink="home/iteampage"></a></li>
                        <li>Date:<span class="a2">{{i.Date}}</span></li>
                        <li><span class="a"><a routerLink="" class="text-header" >{{i.name}}</a></span></li>
                        <li><b class="a3">Rs:<span class="a1">{{i.price}}</span></b></li>
                        <!-- <li><a routerLink="tvs">whight:<span class="a2">{{i.wight}}</span></a></li>
                        <li>{{i.distrit}}</li> -->
                        <div class="row justify-content-center">
                            <button class="btn-sm btn-primary " >message</button>
                            <button  class="btn-sm btn-danger ml-md-2">report</button>
                        </div>
                    </ul>
            </div>
            
        
                   
            </div>
        </div>
    </div>
</div>
